.me {
    background-image: url(../images/me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    @include media-breakpoint-up(md) {
        width: 350px;
        height: 350px;
    }
    margin-top: -60px;
    margin-bottom: 60px;
}

.topic {
    @include media-breakpoint-up(lg) {
        font-size: 48px;
    }
}

// Nav Bar

.nav-scroller {
    overflow: hidden;
  }
  .nav-scroller .nav {
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
  }
  .nav-link {
    color: #707070;
    position: relative;
    &::before {
      content: "";
      width: 0%;
      height: 1px;
      background-color: #E31277;
      position: absolute;
      top: 80%;
      left: 0;
      transition: width 0.3s ease-in-out;
    }
    &:hover {
      color: #E31277;
      &::before{
        width: 100%;
      }
    }
  }
  

// Nav Bar

hr.divider {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #1d1d1d;
  opacity: 1;
}

hr.divider-light {
  background-color: #fff;
}

.page-section {
  padding: 9rem 0;
}

.modal-li {
  width: 80%;
}

.modal-img {
  width: 100%;
}
