@mixin padtophone{
  @media (max-width:767px) {
      @content
  }
}

@mixin padtodesk{
  @media (max-width:992px) {
      @content
  }
}

.index__h1 {
  color:#00cc99;
  font-size: 20px;
  font-weight: 400;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.headpage {
  height: 100vh;
}

.container-xxl {
  max-width: 1700px;
}

.menu {
  li {
    a {
      @include padtodesk(){
        font-size: 48px!important;
      }
      @include padtophone(){
        font-size: 32px!important;
      }
    }
  }
}

